{% extends 'base.html' %}

{% block content %}

<br/>
<br/>
{% if api %}
	{% if api == "Error..." %}
		There was an error, please try again...
	{% else %}
	<!-- {{ api.0 }} -->
<br/>
	<!-- {{ api.0.ParameterName }} -->

		<div class="jumbotron">
  			<h1 class="display-4">{{ api.0.Category.Name}}</h1>
  			<p class="lead">Current {{ api.0.ReportingArea}} Air Quality: {{ api.0.AQI}}</p><br/>
	  		{% if api.0.Category.Name == "Good" %}
	  			<p>{{ api.0.ParameterName }} AQI is 0-50 - Air Quality is Satisfactory, adn air polution pose little or no risk</p>
	  		{% elif api.0.Category.Name == "Moderate" %}
	  			<p>{{ api.0.ParameterName }} AQI is 51-100 - Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.</p>
	  		{% elif api.0.Category.Name == "Unhealthy for Sensitive Groups" %}
	  			<p>{{ api.0.ParameterName }} AQI is 101-150 - Members of sensitive groups may experience health effects. The general public is less likely to be affected.</p>
	  		{% elif api.0.Category.Name == "Unhealthy" %}
	  			<p>{{ api.0.ParameterName }} AQI is 151-200 - Some members of the general public may experience health effects; members of sensitive groups may experience more serious health effects.</p>
	  		{% elif api.0.Category.Name == "Very Unhealthy" %}
	  			<p>{{ api.0.ParameterName }} AQI is 201-250 - Health alert: The risk of health effects is increased for everyone.</p>
	  		{% elif api.0.Category.Name == "Hazardous" %}
	  			<p>{{ api.0.ParameterName }} AQI is 251-300 - Health warning of emergency conditions: everyone is more likely to be affected.</p>
	  		{% endif %}
		</div>
		<br/>
		<br/>
	{% endif %}
{% endif %}

{% endblock %}

